{% extends "base.html" %}
{% load crispy_forms_tags %}
{% load colorize %}
{% block content %}
    <!-- Modal -->
    <div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                <h5 class="modal-title" id="staticBackdropLabel">Add an item for tracking</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <form action="" method="POST" autocomplete="off">
                        {% csrf_token %}
                        {{form|crispy}}
                        <button type="submit" class="btn btn-secondary mt-2" data-bs-dismiss="modal">Close</button>
                        <button type="submit" class="btn btn-primary mt-2">Add</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <div class="row mt-3">
        <div class="col text-left">
            <button class="btn btn-outline-primary" data-bs-toggle="modal" data-bs-target="#staticBackdrop">ADD URL</button>
            <a href="{% url 'home:update' %}"><button class="btn btn-info">UPDATE URL</button></a>
        </div>
        <div class="col text-right">
            <div>Number of Traked Orders : {{all_tracked_items}}</div>
            <div>Discounted Item : {{no_discounted}}</div>
        </div>
    </div>
    
    {% if qs %}
        {% for item in qs %}
        <div class="card mt-3">
            <!-- <img src="..." class="card-img-top" alt="..."> -->
            <div class="card-header">
                <h5>{{item.name}}</h5>
                <a href="{% url 'home:delete' item.pk %}"><button class="btn btn-danger">Delete</button></a>
            </div>
            <div class="card-body">
              <!-- <h5 class="card-title">Card title</h5>
              <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
              <a href="#" class="btn btn-primary">Go somewhere</a> -->
              <div class="blockquote">
                  <div>current price ($): {{item.current_price}}</div>
                  <div>old price ($): {{item.old_price}}</div>
                  <div>difference ($): {{item.difference_price|colorize}}</div>
                  <div>link: <a href="{{item.url}}">{{item.url}}</a></div>
              </div>
            </div>
          </div>
        {% endfor %}
    {% else %}
        <h5>no product tracked until now</h5>
    {% endif %}
        
{% endblock content %}